<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCServ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CCServ.Properties.Settings>
      <setting name="DODSMTPAddress" serializeAs="String">
        <value>smtp.gordon.army.mil</value>
      </setting>
      <setting name="DODEmailHost" serializeAs="String">
        <value>mail.mil</value>
      </setting>
      <setting name="ProfileLockMaxAgeMinutes" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MusterRolloverTime" serializeAs="String">
        <value>20:00:00</value>
      </setting>
      <setting name="DeveloperDistroAddress" serializeAs="String">
        <value>usn.gordon.inscom.list.nsag-nioc-ga-webmaster@mail.mil</value>
      </setting>
      <setting name="DeveloperDistroDisplayName" serializeAs="String">
        <value>Command Central Communications</value>
      </setting>
      <setting name="DeveloperPersonalAddresses" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>aguslmm@gmail.com</string>
            <string>sundevilgoalie13@gmail.com</string>
          </ArrayOfString>
        </value>
      </setting>
    </CCServ.Properties.Settings>
  </applicationSettings>
</configuration>
